
<html lang="en">
    <head>
        <title>{{title}}</title>
        {{!-- bootstrap package --}}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
       	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
         
        
        <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">

		<meta charset="UTF-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<link rel="stylesheet" href="/css/bootstrap.css" />
    	<link rel="stylesheet" href="/css/style.css" />


 


    </head>
    <body>
        {{> header }}
    



		  
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
 

		<div class="container">
        
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    {{#if user}}
                    {{!-- <li role="presentation"><a href="/">Dashboard</a></li> --}}
                    <li role="presentation"><a href="/logout">Logout</a></li>
                    {{else}}
                    <li role="presentation"><a href="/users/user/login">Login</a></li>
                    <li role="presentation"><a href="/users/user/register">Register</a></li>
                    {{/if}}
                </ul>
            </nav>
            {{!-- <h3 class="text-muted">Login App</h3> --}}
        </div>


        <div class="row">
            <div class="col-lg-12">
                {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}

                {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}

                {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
                {{/if}}

                
                {{{body}}}

                {{>footer}}

            </div> <!-- /container --> 
			</div>

    </body>
</html>

